In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

df = pd.DataFrame()
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        dataframe_path = os.path.join(dirname, filename)
        print(dataframe_path)
        df = pd.read_csv(dataframe_path, encoding='latin-1')

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bitcoin-usd-daily-price-with-volume-2015-2023/BTC-USD.csv

In [2]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400
1,2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100
2,2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800
3,2015-01-06,274.610992,287.553009,272.696014,286.188995,286.188995,23245700
4,2015-01-07,286.076996,298.753998,283.079010,294.337006,294.337006,24866800
...,...,...,...,...,...,...,...
3099,2023-06-29,30086.187500,30796.250000,30057.203125,30445.351563,30445.351563,13180860821
3100,2023-06-30,30441.353516,31256.863281,29600.275391,30477.251953,30477.251953,26387306197
3101,2023-07-01,30471.847656,30641.289063,30328.865234,30590.078125,30590.078125,9086606733
3102,2023-07-02,30587.269531,30766.140625,30264.019531,30620.769531,30620.769531,10533418042
3103,2023-07-03,30616.166016,30789.113281,30602.289063,30652.357422,30652.357422,11762191360

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400
1,2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100
2,2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800
3,2015-01-06,274.610992,287.553009,272.696014,286.188995,286.188995,23245700
4,2015-01-07,286.076996,298.753998,283.079010,294.337006,294.337006,24866800

In [4]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3099,2023-06-29,30086.187500,30796.250000,30057.203125,30445.351563,30445.351563,13180860821
3100,2023-06-30,30441.353516,31256.863281,29600.275391,30477.251953,30477.251953,26387306197
3101,2023-07-01,30471.847656,30641.289063,30328.865234,30590.078125,30590.078125,9086606733
3102,2023-07-02,30587.269531,30766.140625,30264.019531,30620.769531,30620.769531,10533418042
3103,2023-07-03,30616.166016,30789.113281,30602.289063,30652.357422,30652.357422,11762191360

In [5]:
df.sample(5)

,Date,Open,High,Low,Close,Adj Close,Volume
2941,2023-01-22,22777.986328,23056.730469,22387.900391,22720.416016,22720.416016,24746386230
2731,2022-06-26,21496.494141,21783.724609,21016.269531,21027.294922,21027.294922,18027170497
2748,2022-07-13,19325.972656,20223.052734,18999.953125,20212.074219,20212.074219,33042430345
2750,2022-07-15,20573.156250,21138.244141,20397.000000,20836.328125,20836.328125,25905575359
3058,2023-05-19,26826.753906,27128.619141,26700.210938,26890.128906,26890.128906,11258983301

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3104 entries, 0 to 3103
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3104 non-null   object
 1   Open       3104 non-null   float64
 2   High       3104 non-null   float64
 3   Low        3104 non-null   float64
 4   Close      3104 non-null   float64
 5   Adj Close  3104 non-null   float64
 6   Volume     3104 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 169.9+ KB

In [7]:
df = df.assign(
    Date = lambda f: pd.to_datetime(f['Date'])
)

In [8]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [9]:
df.loc[lambda f: f['Date'].duplicated() == True]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []