In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

df = pd.DataFrame()
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        df_path = os.path.join(dirname, filename)
        print(df_path)
        df = pd.read_csv(df_path, encoding='latin-1')

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/salary-data/Salary_Data.csv

In [2]:
df

,ï»¿Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ï»¿Age               6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [4]:
df.rename(columns={df.columns.values[0]: 'Age'}, inplace=True)

In [5]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [6]:
df.dropna(how='all', inplace=True)

In [7]:
df.describe()

               Age  Years of Experience         Salary
count  6702.000000          6701.000000    6699.000000
mean     33.620859             8.094687  115326.964771
std       7.614633             6.059003   52786.183911
min      21.000000             0.000000     350.000000
25%      28.000000             3.000000   70000.000000
50%      32.000000             7.000000  115000.000000
75%      38.000000            12.000000  160000.000000
max      62.000000            34.000000  250000.000000

In [8]:
for c in ['Education Level', 'Years of Experience', 'Salary']:
    print(f'Coluna {c}')
    display(df[df[c].isnull() == True])

Coluna Education Level

       Age Gender Education Level  Job Title  Years of Experience    Salary
2011  27.0   Male             NaN  Developer                  7.0  100000.0

Coluna Years of Experience

       Age  Gender    Education Level Job Title  Years of Experience  Salary
5247  26.0  Female  Bachelor's Degree  Social M                  NaN     NaN

Coluna Salary

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
3136,31.0,Male,Master's Degree,Full Stack Engineer,8.0,NaN
5247,26.0,Female,Bachelor's Degree,Social M,NaN,NaN
6455,36.0,Male,Bachelor's Degree,Sales Director,6.0,NaN

In [9]:
df.loc[lambda f: (f['Job Title'] == 'Sales Director') & (f['Salary'].isnull() == True) & (f['Years of Experience'] == 6.0), 'Salary'] = 75000.0

In [10]:
df.loc[lambda f: (f['Job Title'] == 'Full Stack Engineer') & (f['Years of Experience'] == 8.0) & (f['Salary'].isnull() == True), 'Salary'] = 140000.0

In [11]:
df.dropna(inplace=True)

In [12]:
df.dropna(subset='Years of Experience', inplace=True)

In [13]:
df[df['Salary'] <= 16000]

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
259,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,350.0
1890,25.0,Female,Bachelor's Degree,Front end Developer,1.0,550.0
2654,23.0,Male,PhD,Software Engineer Manager,1.0,579.0
4633,31.0,Female,Bachelor's Degree,Junior HR Coordinator,4.0,500.0

In [14]:
ind = df[df['Salary'] <= 16000].index
df.drop(index=ind, inplace=True)

In [15]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6696 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6696 non-null   float64
 1   Gender               6696 non-null   object
 2   Education Level      6696 non-null   object
 3   Job Title            6696 non-null   object
 4   Years of Experience  6696 non-null   float64
 5   Salary               6696 non-null   float64
dtypes: float64(3), object(3)
memory usage: 366.2+ KB

In [17]:
df['Gender'].value_counts()

Male      3671
Female    3011
Other       14
Name: Gender, dtype: int64

In [18]:
df['Education Level'].value_counts()

Bachelor's Degree    2264
Master's Degree      1573
PhD                  1367
Bachelor's            755
High School           448
Master's              288
phD                     1
Name: Education Level, dtype: int64

In [19]:
df['Education Level'].replace("Master's", "Master's Degree", inplace=True)
df['Education Level'].replace("Bachelor's", "bachelor's Degree", inplace=True)
df['Education Level'].replace("phD", "PhD", inplace=True)

In [20]:
df['Job Title'].value_counts()

Software Engineer             518
Data Scientist                453
Software Engineer Manager     375
Data Analyst                  363
Senior Project Engineer       318
                             ...
Account Manager                 1
Help Desk Analyst               1
Senior Training Specialist      1
Junior Web Designer             1
Software Project Manager        1
Name: Job Title, Length: 191, dtype: int64

In [21]:
df['Age'] = df['Age'].astype(np.uint)
df['Years of Experience'] = df['Years of Experience'].astype(np.uint)
df['Gender'] = df['Gender'].astype('category')
df['Salary'] = df['Salary'].astype(np.uint)
df['Education Level'] = df['Education Level'].astype('category')
df['Job Title'] = df['Job Title'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6696 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6696 non-null   uint64
 1   Gender               6696 non-null   category
 2   Education Level      6696 non-null   category
 3   Job Title            6696 non-null   category
 4   Years of Experience  6696 non-null   uint64
 5   Salary               6696 non-null   uint64
dtypes: category(3), uint64(3)
memory usage: 241.3 KB

In [22]:
df.describe()

               Age  Years of Experience         Salary
count  6696.000000          6696.000000    6696.000000
mean     33.626941             8.097670  115395.513441
std       7.614931             6.060291   52726.136210
min      21.000000             0.000000   25000.000000
25%      28.000000             3.000000   70000.000000
50%      32.000000             7.000000  115000.000000
75%      38.000000            12.000000  160000.000000
max      62.000000            34.000000  250000.000000

In [23]:
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32,Male,bachelor's Degree,Software Engineer,5,90000
1,28,Female,Master's Degree,Data Analyst,3,65000
2,45,Male,PhD,Senior Manager,15,150000
3,36,Female,bachelor's Degree,Sales Associate,7,60000
4,52,Male,Master's Degree,Director,20,200000
...,...,...,...,...,...,...
6699,49,Female,PhD,Director of Marketing,20,200000
6700,32,Male,High School,Sales Associate,3,50000
6701,30,Female,Bachelor's Degree,Financial Manager,4,55000
6702,46,Male,Master's Degree,Marketing Manager,14,140000
6703,26,Female,High School,Sales Executive,1,35000