In [1]:
import os
from pathlib import Path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
PROJECT_PATH = Path(os.path.dirname(os.path.dirname(os.path.abspath('movie-dataset (Gráficos)'))))
DADOS_PATH = PROJECT_PATH / 'dados' / 'saida' / 'movies.csv'

In [3]:
df = pd.read_csv(DADOS_PATH, parse_dates=['date'])

In [4]:
df.head()

,name,rating,genre,score,votes,director,writer,star,country,budget,gross,company,runtime,date
0,The Shining,R,Drama,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United States,19000000.0,46998772.0,Warner Bros.,146,1980-06-13
1,The Blue Lagoon,R,Adventure,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104,1980-07-02
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124,1980-06-20
3,Airplane!,PG,Comedy,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88,1980-07-02
4,Caddyshack,R,Comedy,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98,1980-07-25

In [5]:
df.tail()

,name,rating,genre,score,votes,director,writer,star,country,budget,gross,company,runtime,date
3931,Birthday Girl,R,Comedy,6.1,25000.0,Jez Butterworth,Tom Butterworth,Nicole Kidman,United States,13000000.0,16171098.0,FilmFour,93,2001-02-01
3932,Human Nature,R,Comedy,6.4,18000.0,Michel Gondry,Charlie Kaufman,Tim Robbins,País não informado,0.0,1574660.0,Fine Line Features,96,2001-09-12
3933,Made,R,Comedy,6.4,18000.0,Jon Favreau,Jon Favreau,Vince Vaughn,United States,5000000.0,5480653.0,Artisan Entertainment,95,2001-08-31
3934,One Night at McCool's,R,Comedy,6.1,29000.0,Harald Zwart,Stan Seidel,Liv Tyler,United States,18000000.0,13578186.0,October Films,93,2001-04-27
3935,Dr. Dolittle 2,PG,Comedy,4.7,42000.0,Steve Carr,Hugh Lofting,Eddie Murphy,United States,70000000.0,176104344.0,Twentieth Century Fox,87,2001-06-22

In [6]:
df.sample(5)

,name,rating,genre,score,votes,director,writer,star,country,budget,gross,company,runtime,date
3115,A Life Less Ordinary,R,Comedy,6.4,35000.0,Danny Boyle,John Hodge,Cameron Diaz,United States,12000000.0,4366722.0,Channel Four Films,103,1997-10-24
1665,The NeverEnding Story II: The Next Chapter,PG,Adventure,5.2,25000.0,George Miller,Karin Howard,Jonathan Brandis,United States,36000000.0,17373527.0,Warner Bros.,89,1990-02-08
3649,Shanghai Noon,PG-13,Action,6.6,122000.0,Tom Dey,Miles Millar,Jackie Chan,United States,55000000.0,99274467.0,Touchstone Pictures,110,2000-05-26
2939,City Hall,R,Drama,6.2,20000.0,Harold Becker,Ken Lipper,Al Pacino,United States,40000000.0,20340204.0,Castle Rock Entertainment,111,1996-02-16
3256,Great Expectations,R,Drama,6.8,52000.0,Alfonso Cuarón,Charles Dickens,Ethan Hawke,United States,25000000.0,55494066.0,Art Linson Productions,111,1998-01-30

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3936 non-null   object
 1   rating    3936 non-null   object
 2   genre     3936 non-null   object
 3   score     3936 non-null   float64
 4   votes     3936 non-null   float64
 5   director  3936 non-null   object
 6   writer    3936 non-null   object
 7   star      3936 non-null   object
 8   country   3936 non-null   object
 9   budget    3936 non-null   float64
 10  gross     3936 non-null   float64
 11  company   3936 non-null   object
 12  runtime   3936 non-null   int64
 13  date      3936 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(8)
memory usage: 430.6+ KB

In [8]:
df.isnull().sum()

name        0
rating      0
genre       0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
date        0
dtype: int64