In [1]:
import os
from pathlib import Path
import pandas as pd

%matplotlib inline

In [2]:
PROJECT_PATH = Path(os.path.dirname(os.path.dirname(os.path.abspath('movie-dataset (Gráficos)'))))
DADOS_PATH = PROJECT_PATH / 'dados' / 'saida' / 'movies.csv'

In [3]:
df = pd.read_csv(DADOS_PATH, parse_dates=['date'])
df

,name,rating,genre,score,votes,director,writer,star,country,budget,gross,company,runtime,date,liquid
0,The Shining,R,Drama,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United States,19000000.0,46998772.0,Warner Bros.,146,1980-06-13,27998772.0
1,The Blue Lagoon,R,Adventure,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104,1980-07-02,54353106.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124,1980-06-20,520375067.0
3,Airplane!,PG,Comedy,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88,1980-07-02,79953539.0
4,Caddyshack,R,Comedy,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98,1980-07-25,33846344.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,O,R,Drama,6.1,19000.0,Tim Blake Nelson,William Shakespeare,Mekhi Phifer,United States,5000000.0,19260537.0,Chickie the Cop,95,2001-08-31,14260537.0
2541,Birthday Girl,R,Comedy,6.1,25000.0,Jez Butterworth,Tom Butterworth,Nicole Kidman,United States,13000000.0,16171098.0,FilmFour,93,2001-02-01,3171098.0
2542,Made,R,Comedy,6.4,18000.0,Jon Favreau,Jon Favreau,Vince Vaughn,United States,5000000.0,5480653.0,Artisan Entertainment,95,2001-08-31,480653.0
2543,One Night at McCool's,R,Comedy,6.1,29000.0,Harald Zwart,Stan Seidel,Liv Tyler,United States,18000000.0,13578186.0,October Films,93,2001-04-27,-4421814.0
2544,Dr. Dolittle 2,PG,Comedy,4.7,42000.0,Steve Carr,Hugh Lofting,Eddie Murphy,United States,70000000.0,176104344.0,Twentieth Century Fox,87,2001-06-22,106104344.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2545 entries, 0 to 2544
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      2545 non-null   object
 1   rating    2545 non-null   object
 2   genre     2545 non-null   object
 3   score     2545 non-null   float64
 4   votes     2545 non-null   float64
 5   director  2545 non-null   object
 6   writer    2545 non-null   object
 7   star      2545 non-null   object
 8   country   2545 non-null   object
 9   budget    2545 non-null   float64
 10  gross     2545 non-null   float64
 11  company   2545 non-null   object
 12  runtime   2545 non-null   int64
 13  date      2545 non-null   datetime64[ns]
 14  liquid    2545 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(8)
memory usage: 298.4+ KB

In [5]:
df.describe()

,score,votes,budget,gross,runtime,date,liquid
count,2545.000000,2.545000e+03,2.545000e+03,2.545000e+03,2545.000000,2545,2.545000e+03
mean,6.359018,7.794249e+04,2.412036e+07,5.795178e+07,107.263654,1992-09-05 08:40:33.005894016,3.383142e+07
min,2.200000,2.160000e+02,6.000000e+03,3.090000e+02,0.000000,1980-02-01 00:00:00,-9.830110e+07
25%,5.800000,8.700000e+03,8.000000e+06,6.330054e+06,95.000000,1987-12-25 00:00:00,-6.500898e+06
50%,6.400000,2.600000e+04,1.600000e+07,1.962340e+07,104.000000,1993-04-23 00:00:00,3.817291e+06
75%,7.000000,7.400000e+04,3.000000e+07,5.663157e+07,116.000000,1997-10-31 00:00:00,3.104708e+07
max,9.300000,2.400000e+06,2.000000e+08,2.201647e+09,271.000000,2001-12-25 00:00:00,2.001647e+09
std,0.970694,1.711206e+05,2.417813e+07,1.094625e+08,19.277782,NaN,9.832903e+07

# Perguntas

---

## Name (Nome)

### Quais os 10 melhores e piores filmes, em relação a pontuação e votos?

### Quais os 10 melhores e piores filmes, em relação a relação custo e lucro?

---

## Rating (Classificação)

### Qual rating recebe mais orçamento?

### Qual rating recebe mais lucro?

---

## Genre (Gênero)

### Quais os top 10 gêneros que deram mais lucro? E os que deram menos lucros?

### Quais gêneros custam mais para serem produzidos?

---

## Date (Data)

### Em qual período, anual e mensal, que houveram mais filmes?

### Qual a tendência de gêneros de filmes ao longo de determinado período de tempo?

### Quais as top 10 companhias que tiveram mais lucro ao longo do tempo? E quais as que tiveram menos lucro?

### Qual a projeção, em porcentagem do lucro de filmes ao longo do tempo? O lucro diminuiu ou aumentou, ao longo do tempo?

### Qual a projeção, ao longo do tempo, do custo dos filmes? Eles ficaram mais caros ou mais baratos?

### Em qual época houve um pico de lucro provinda de filmes? E em qual houve o menor pico?

### Há relação entre os períodos onde houveram grandes picos de vendas com o custo dos filmes?

### É possível visualizar, num determinado período de tempo, quais filmes foram lançados, o lucro e custo total daquele período, além de permitir uma visualização detalhada da razão de tais métricas, em porcentagem, junto com os nomes das companhias que estão presentes neste mesmo período? 
    * Exemplo:
        - Num período x, houve um lucro total de y e custo z, com tais filmes 
        ocupando w% dos respectivos valores. Além disso, neste período, 
        a porcentagem de lucro e custo das companhias que mais lucraram foram ???.

---