In [1]:
import os
from pathlib import Path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
PROJECT_PATH = Path(os.path.dirname(os.path.dirname(os.path.abspath('movie-dataset (Gráficos)'))))
DADOS_PATH = PROJECT_PATH / 'dados' / 'saida' / 'movies.csv'

In [5]:
df = pd.read_csv(DADOS_PATH, parse_dates=['data'])

In [6]:
df.head()

,nome,classificacao,genero,pontuacao,votos,diretor,escritor,estrela do filme,pais,orcamento ($),lucro bruto ($),companhia,duracao do filme (min),data
0,The Shining,R,Drama,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United States,19000000,46998772.0,Warner Bros.,146.0,1980-06-13
1,The Blue Lagoon,R,Adventure,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106.0,Columbia Pictures,104.0,1980-07-02
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067.0,Lucasfilm,124.0,1980-06-20
3,Airplane!,PG,Comedy,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539.0,Paramount Pictures,88.0,1980-07-02
4,Caddyshack,R,Comedy,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344.0,Orion Pictures,98.0,1980-07-25

In [7]:
df.tail()

,nome,classificacao,genero,pontuacao,votos,diretor,escritor,estrela do filme,pais,orcamento ($),lucro bruto ($),companhia,duracao do filme (min),data
3942,Birthday Girl,R,Comedy,6.1,25000.0,Jez Butterworth,Tom Butterworth,Nicole Kidman,United States,13000000,16171098.0,FilmFour,93.0,2001-02-01
3943,Human Nature,R,Comedy,6.4,18000.0,Michel Gondry,Charlie Kaufman,Tim Robbins,País não informado,0,1574660.0,Fine Line Features,96.0,2001-09-12
3944,Made,R,Comedy,6.4,18000.0,Jon Favreau,Jon Favreau,Vince Vaughn,United States,5000000,5480653.0,Artisan Entertainment,95.0,2001-08-31
3945,One Night at McCool's,R,Comedy,6.1,29000.0,Harald Zwart,Stan Seidel,Liv Tyler,United States,18000000,13578186.0,October Films,93.0,2001-04-27
3946,Dr. Dolittle 2,PG,Comedy,4.7,42000.0,Steve Carr,Hugh Lofting,Eddie Murphy,United States,70000000,176104344.0,Twentieth Century Fox,87.0,2001-06-22

In [8]:
df.sample(5)

,nome,classificacao,genero,pontuacao,votos,diretor,escritor,estrela do filme,pais,orcamento ($),lucro bruto ($),companhia,duracao do filme (min),data
3052,The Devil's Own,R,Action,6.2,62000.0,Alan J. Pakula,Kevin Jarre,Harrison Ford,United States,90000000,140807547.0,Columbia Pictures,111.0,1997-03-26
924,F/X,R,Action,6.7,18000.0,Robert Mandel,Robert T. Megginson,Bryan Brown,United States,10000000,20603715.0,Orion Pictures,109.0,1986-02-07
3801,Shrek,PG,Animation,7.9,630000.0,Andrew Adamson,William Steig,Mike Myers,United States,60000000,487853320.0,DreamWorks Animation,90.0,2001-05-18
3674,Shaft,R,Action,6.0,75000.0,John Singleton,Ernest Tidyman,Samuel L. Jackson,United States,46000000,107626125.0,Paramount Pictures,99.0,2000-06-16
1618,Dances with Wolves,PG-13,Adventure,8.0,247000.0,Kevin Costner,Michael Blake,Kevin Costner,United States,22000000,424208848.0,Tig Productions,181.0,1990-11-21

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3947 entries, 0 to 3946
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   nome                    3947 non-null   object
 1   classificacao           3947 non-null   object
 2   genero                  3947 non-null   object
 3   pontuacao               3947 non-null   float64
 4   votos                   3947 non-null   float64
 5   diretor                 3947 non-null   object
 6   escritor                3947 non-null   object
 7   estrela do filme        3946 non-null   object
 8   pais                    3947 non-null   object
 9   orcamento ($)           3947 non-null   int64
 10  lucro bruto ($)         3786 non-null   float64
 11  companhia               3937 non-null   object
 12  duracao do filme (min)  3947 non-null   float64
 13  data                    3947 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(8)
memory usage: 431.8+ KB

In [10]:
df.isnull().sum()

nome                        0
classificacao               0
genero                      0
pontuacao                   0
votos                       0
diretor                     0
escritor                    0
estrela do filme            1
pais                        0
orcamento ($)               0
lucro bruto ($)           161
companhia                  10
duracao do filme (min)      0
data                        0
dtype: int64

In [11]:
df.loc[lambda f: f['companhia'].isnull() == True]

,nome,classificacao,genero,pontuacao,votos,diretor,escritor,estrela do filme,pais,orcamento ($),lucro bruto ($),companhia,duracao do filme (min),data
403,A Night in Heaven,R,Drama,4.3,1200.0,John G. Avildsen,Joan Tewkesbury,Christopher Atkins,United States,0,5563663.0,NaN,83.0,1983-11-18
456,White Star,This Film Is Not Yet Rated,Drama,6.0,235.0,Roland Klick,Karen Jaehne-Lathan,Dennis Hopper,West Germany (Germany),100000,NaN,NaN,92.0,1983-03-08
460,Last Plane Out,PG,Action,4.5,131.0,David Nelson,Ernest Tidyman,Jan-Michael Vincent,United States,0,NaN,NaN,92.0,1983-09-23
624,The Bear,PG,Biography,6.1,270.0,Richard C. Sarafian,Michael Kane,Gary Busey,United States,221000,2687148.0,NaN,110.0,1984-09-28
956,Modern Girls,PG-13,Comedy,5.8,1300.0,Jerry Kramer,Laurie Craig,Daphne Zuniga,United States,0,604849.0,NaN,84.0,1986-11-07
1019,P.O.W. the Escape,R,Action,5.0,533.0,Gideon Amir,Malcolm Barbour,David Carradine,United States,0,2497233.0,NaN,90.0,1986-04-04
1546,Heart of Dixie,PG,Drama,5.2,677.0,Martin Davidson,Anne Rivers Siddons,Ally Sheedy,United States,8000000,1097333.0,NaN,95.0,1989-08-25
1568,Lost Angels,R,Drama,6.0,881.0,Hugh Hudson,Michael Weller,Donald Sutherland,United States,0,1247946.0,NaN,116.0,1989-05-05
1600,Staying Together,R,Comedy,6.2,761.0,Lee Grant,Monte Merrick,Sean Astin,United States,0,4348025.0,NaN,91.0,1989-11-10
1768,Streets,R,Action,5.7,712.0,Katt Shea,Andy Ruben,Christina Applegate,United States,0,1510053.0,NaN,85.0,1990-01-19